@model ASP_NET_Project.Models.Car

@{
    ViewData["Title"] = "View";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" onsubmit="jQueryAjaxPost(this);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NrRejestracji" class="control-label"></label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text">#</div>
                    </div>
                    <input asp-for="NrRejestracji" class="form-control" />
                </div>
                <span asp-validation-for="NrRejestracji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RokProdukcji" class="control-label"></label>
                <input asp-for="RokProdukcji" class="form-control" />
                <span asp-validation-for="RokProdukcji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StanGotowosci" class="control-label"></label>
                <input asp-for="StanGotowosci" class="form-control" />
                <span asp-validation-for="StanGotowosci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Wprowadź" class="btn btn-primary btn-block" />
            </div>
        </form>
    </div>
</div>

