@model IEnumerable<ASP_NET_Project.Models.Car>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Lista Samochodów</h1>

<div id="view-all">
     @await Html.PartialAsync("_ViewTable", Model)
</div>